$body-color: config('colors.grey-darker');
$link-color: config('colors.blue-light');

$button-color: config('colors.grey-darker');
$button-font-weight: config('fontWeights.bold');
$button-static-color: config('colors.grey-dark');

$button-border-width: 1px;
$button-border-color: config('colors.grey-light');
$button-hover-border-color: config('colors.grey');

$button-colours: (
    primary: (primary, white, primary-dark, grey-lightest),
    grey: (grey-light, black, grey, black),
    green: (green, white, green-dark, grey-lightest),
    red: (red, white, red-dark, grey-lightest),
);

$button-colours: join($button-colours, (blue: (blue-light, white, blue, grey-lightest)));

$title-color: config('colors.blue');
$title-font-size: config('textSizes.xl');
$title-font-weight: config('fontWeights.normal');

$field-margin: config('margin.8');

$label-color: config('colors.blue-light');
$label-font-size: config('textSizes.sm');
$label-font-weight: config('fontWeights.bold');

$checkbox-checked-border-color: config('colors.primary') !default;
$checkbox-checked-background-color: config('colors.primary') !default;
$checkbox-checked-hover-border-color: config('colors.primary-dark') !default;
$checkbox-checked-hover-background-color: config('colors.primary-dark') !default;

$help-color: config('colors.grey-darker');

$pagination-color: config('colors.grey-dark');
$pagination-current-background-color: config('colors.blue-light');
