@import "~vue-multiselect/dist/vue-multiselect.min.css";

.select.multiselect {
    height: auto;
    min-height: $control-height;

    &:after {
        box-sizing: border-box;
        top: ($control-height / 2) + 0.15rem !important;
    }
}

.multiselect {
    color: $input-color;
    font-size: $body-font-size;
    min-height: $control-height;

    .multiselect__select {
        display: none;
    }

    .multiselect__tags {
        min-height: $control-height;
        padding: 0.5rem 4rem 0 0.75rem;
        border-color: $input-border-color;
        border-radius: $input-border-radius;
        background-color: $input-background-color;

        display: flex;
        align-items: center;
    
        &:hover {
            border-color: $input-hover-border-color;
        }

        .multiselect__tags-wrap {
            flex-wrap: wrap;
            display: inline-flex;

            .multiselect__tag {
                margin: 0 0.5rem 0.5rem 0;
                color: theme('colors.grey.700');
                background-color: theme('colors.grey.400');

                .multiselect__tag-icon {
                    &:after {
                        color: theme('colors.grey.700');
                    }
                }

                &:hover {
                    .multiselect__tag-icon {
                        background-color: theme('colors.grey.600');

                        &:after {
                            color: theme('colors.white');
                        }
                    }
                }
            }
        }

        .multiselect__input,
        .multiselect__single {
            margin: 0;
            padding: 0 0 0.5rem;
            color: $input-color;
            font-size: $body-font-size;
        }
    }

    .multiselect__content-wrapper {
        border-color: $input-border-color;
        background-color: $input-background-color;
        border-radius: 0 0 $input-border-radius $input-border-radius;

        .multiselect__option {
            &:after {
                background-color: transparent !important;
            }

            &.multiselect__option--highlight {
                color: theme('colors.black');
                background-color: theme('colors.grey.400');

                &:after {
                    color: theme('colors.grey.700');
                }
            }

            &.multiselect__option--selected {
                color: theme('colors.grey.200');
                background-color: theme('colors.coral.500');

                &:after {
                    color: theme('colors.grey.200');
                }

                &.multiselect__option--highlight {
                    color: theme('colors.white');
                    background-color: theme('colors.coral.600');

                    &:after {
                        color: theme('colors.white');
                    }
                }
            }
        }
    }
}
